

* {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 18px;
    color: black;
    background-color: lightslategrey;
}

.pic{
    border: 2px solid black;
}



/* index.html */

.link{
    display: block;
    text-align: center;
    font-weight: bolder;
    color: darkred;
    font-size: 25px;    
}


.TOP{
    display: block;
    margin: auto;
}


.title{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

